/* Work sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@400;500;600;700&display=swap');
/* common shared styles */
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    color: #FFF;
    border-radius: 8px;
    border: 0;
    background: #FF900E;
}
.text-light-gray{
    color: #727272;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: #131313;
}
nav ul{
    
    display: flex;
    

}
nav li{
    list-style: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}
    
nav ul a{
    text-decoration: none;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    color:  #131313;
}
/* .banner-description{
    font-weight: 400;
    color:  #727272; */
}
.banner img{
    width: 100%;
    margin-top: 30px;
    
}

/* main section */
main{
    max: width 1440px; 
    margin: 70px auto;
}
.team-container{
    display: flex;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
} 
.content-title .text-light-gray{
    font-size: 2.5rem;
    font-weight: 500;
    color: #727272;
}
.content-title .mid-text{
   color: #131313;
   font-size: 2.5rem;
    font-weight: 500;
}
.content-title .text-features{
    color: #FF900E;
    font-size: 2.5rem;
     font-weight: 500; 
}
.content-description{
    color: #727272;
    font-size: 1rem;
     font-weight: 400;   
}
/* Facts section  */
.facts-card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #FFF; */
}
.facts-card-container.card{
    border-radius: 8px;
    border: 1px solid color red;
    text-align: center;
    padding: 30px;
}
.facts-card-container.card-stats{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container.card-title{
    font-size: 1.25;
    font-weight: 600;
    margin-top: 5px;
    
}

/* Responsive Queries */
/* Responsive for mobaile device */
@media screen  and (max-width:576px){
    header{
        padding: 20px;
    }
    nav, 
    .team-container, .facts-card-container{
        flex-direction: column;
    
    }
    .team-img{
        grid-template-columns: 1fr;
    }
    .team-content, .facts-card-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    
}
/* Responsive for tablet or medium device */
@media screen and (min-width:576px) and (max-width:960){
    header{
        padding: 50px;
}
    nav,.team-container{
        flex-direction: column;
}
}








    




    



